*, pre {
	font-family: "Microsoft YaHei";
	font-size: 20px;
}
body {
	background-size: 100%;
	background-repeat: repeat-y;
	background-color: rgba(251, 251, 251, 0.9);
	padding: 0;
	margin: 0;
}

#first{
	background-image: url("../image/piano.jpg");
	background-size: 100%;
	height: 600px;
	color: #FFF;
	padding-top: 20px;
	text-shadow: 1px 1px 1px #000;
}
#first #title{
	text-align: center;
	font-size: 30px;
}
#first #writer{
	text-align: right;
}
#first .wrapper {
	width: 1024px;
	padding: 0 20px;
	margin: auto;
}
#first p {
	margin-top: 0;
}


#container {
	width: 1024px;
	padding: 0 20px;
	margin: 0 auto;
	background-color: #FFF;
	min-height: 1000px;
}
#container #title {
	text-align: center;
	font-size: 48px;
	color:#20bee2;
	margin-top: 0;
	padding: 20px;
}

#container #above{
	color: #FF0000;
	font-size: 30px;
}
#container #above b{
	font-size: 30px;
}
#container .blog-list {
	display: inline-block;
	width: 500px;
	text-align: left;
	vertical-align: top;
}
#container .blog-list h4{
	font-size: 30px;
	margin-bottom: 10px;
}
#container .blog-list ol {
	margin: 0;
	display: inline-block;
}
#container .blog-list a{
	color: #000;
	text-decoration: none;
}