body{
	background-size: 100%;
	background-repeat: repeat-y;
}
pre{
	font-size: 24px;
	font-family: "微软雅黑";
	color: #000;
	max-width: 1200px;
	word-wrap: break-word;
    overflow: hidden;
    white-space: pre-wrap;
}
audio{
	float: right;
	display: inline-block;
}
