body{
	background-size: 100%;
	background-repeat: repeat-y;
}
pre{
	font-size: 16px;
	font-family: "Microsoft Yahei";
	color: #000;
	max-width: 1200px;
	word-wrap: break-word;
    overflow: hidden;
    white-space: pre-wrap;
}
#container {
	width: 1024px;
	padding: 0 20px;
	margin: 0 auto;
	background-color: #FFF;
	min-height: 1000px;
}
.comment{
	width: 1024px;
	margin:auto;
}
.meta {
	margin: 0;
	font-size: 14px;
	color: gray;
}