*, pre {
	font-family: "Microsoft YaHei";
	font-size: 20px;
}
body{
	color: #000;
	font-size: 20px;
	padding: 0;
	margin:0;
	background-color:  rgba(251, 251, 251, 0.9);
}

#container {
	width: 1024px;
	padding: 0 20px;
	margin: 0 auto;
	background-color: #FFF;
	min-height: 1000px;
	text-align: center;
}
.time-axis-list {
	display: inline-block;
	width: 600px;
	margin-right: 18px;
	padding-top: 20px;
}
.time-axis {
    border-left: 5px solid #242525;
    height: 100px;
    text-align: left;
    padding-left: 20px;
    width: 500px;
}
.content{
	text-align: left;
}
#about{
	display:inline-block;
	width: 400px;
	overflow: hidden;
	vertical-align: top;
	text-align: left;
}

#wechat{
	text-align: center;
}
#wechat img {
	width: 150px;
	height: 150px;
}